Django>=4.1,<4.2
wagtail>=4.2,<4.3
django-ckeditor==6.5.1
django-cors-headers==3.14.0
django-material-admin==1.8.6
django-tinymce==3.6.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.26.1
Pillow==9.4.0
psycopg2-binary==2.9.5
PyJWT==2.6.0
python-dotenv==1.0.0
redis==4.5.4
black==23.3.0